<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo5ofPTYF9yWBv-MzQCUCvoFuoEIzu9FI</string>
	<key>GCM_SENDER_ID</key>
	<string>104458907159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getTestApp</string>
	<key>PROJECT_ID</key>
	<string>test-otp-68f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-otp-68f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104458907159:ios:0345274cb7acd84117f652</string>
</dict>
</plist>